.App {
  background-color: #282c34;
  min-height: 100vh;
}

.navbar {
  background-color: #1c1f26;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 24px;
}

.spotify-btn {
  background-color: #800000;
  color: #ccc;
  border: none;
  padding: 12px 28px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.spotify-btn:hover {
  background-color: #cc0000;
  color: #ffffff;
}
